
.titolo{
	font-size:15pt;
	font-weight:bold;
	margin-top:10px;
}

		
.icona-rossa{
	color: #dc3545;  /* colore usato da is-invalid */
	border:1px solid #dc3545; 
	border-right:transparent;
}


#divPerizie, #divCrea{
	margin:45% auto;
	width:75%;
	border:1px solid black;
	text-align: center;
	height:75%;
}

#imgVallauri
{
	margin:0 auto;
	margin:auto;
}

#btnCreaPerizia{
	height: 40%;
	margin:20%;
}

#btnAddPhoto{
	float: left;
}
