/*body{
	background-color: lightslategray;
}*/
.container{
	padding-top:15px;
}

#frmInvia{
	border:1px solid #AAA; 
	background-color:#F2F2FF; 
	padding:12px;	
	margin:12px 0;
}
#tabMail{
	width:65%;
	margin:auto;
}

#frmInvia input{
	padding:7px;
	width:100%;
	font-size:0.88em;
}

/* terminale md */
@media  (min-width:768px) and (max-width:992px){ 
	#frmInvia input{
		width:120%;
	}
	#frmInvia div:nth-of-type(3) input{
		width:105%;
	}
}

#tabMail,#divDesc{
	border:2px solid #AAA; 
	background-color:#F2F2FF; 
	margin-top:20px;
	margin-bottom:0;
	/*width:60%;
	margin:0 auto;*/
}

#wrapper{
	width:800px;
	width:75%;
	height:600px;
	margin:10px auto;		
}

#infoWindow { padding:0; text-align:left; }
#infoWindow p { padding:0; margin:0}
#infoWindow p:last-of-type {margin-bottom:10px }


.map-icon-label  .map-icon {
	font-size: 20px;   /* default 24px  */
	color: #FF0000;
}

.imgDesc{
	width:100px;
	height:100px;
	/*margin-bottom:2px;*/
}

#wrapper #panel{
	width:340px;
	margin:10px;	
	float:right;			
}
#wrapper #msg{
	/*width:800px;*/
	width:75%;
	margin:10px;
	font-size:16pt;			
	display:inline-block;
	text-align: center;

}	
#divDesc{
	text-align: center;
	width:800px;
	width:65%;
	margin:auto;
}
#container2{
	text-align: center;
}